
@import "bootstrap-sprockets";
@import "bootstrap";
@import 'global';
@import 'transactions';
@import 'categories';
@import 'login';


table {
  border-collapse: collapse;
  border-spacing: 0;
}

th {
  text-align: center;
  padding: 0.2em;
}

td {
  width: 250px;
  text-align: center;
  padding: 0.2em;
}
