h2 {
  display: inline;
}
h1 {
  display: inline;
  color: $dark_gray;
}
#cat_index_header {
  text-align: center;
}
#title_show {
  .description {
    @include bold_font;
    font-size: 2.5rem;
    margin-bottom: 1.25rem;
    padding-bottom: 1rem;
    border-bottom: 1px solid #E9E9E9;
  }
  p {
    font-size: 1.375rem;
    line-height: 1.75;
  }
}
