$dark_gray: #2B2E2E;
$light_gray: #C0C1C1;
$green: #33CD99;
$turquoise: #40E0D0;
$purple: #663399;

@mixin bold_font {
  font-family: "Brandon Grotesque","Helvetica Neue", Helvetica, sans-serif;
  font-weight: bold;
  text-transform: uppercase;
}

html, .container, body, .wrapper, .wrapper_with_padding {
  background-color: $turquoise;
}

* {
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
}

body {
  padding-top: 10rem;
  font-family: Georgia, serif;
}

.wrapper {
  width: 80%;
  margin: 0 auto;
}

.wrapper_with_padding {
  width: 80%;
  margin: 0 auto;
  padding: 3.5rem 0;
}

.clearfix:before, .clearfix:after {
  content: " ";
  display: table;
}

.clearfix:after {
  clear: both;
}

a {
  color: $purple;
  text-decoration: none;
  &:hover {
    color: $dark_gray;
  }
}

input[type="text"], input[type="email"], input[type="password"], textarea {
  width: 100%;
  margin-bottom: 1rem;
  border: 1px solid $light_gray;
  border-radius: .4rem;
}

input[type="text"], input[type="email"], input[type="password"] {
  height: 40px;
}

textarea {
  min-height: 200px;
}

header {
  background: $dark_gray;
  position: fixed;
  top: 0;
  width: 100%;
  padding: 1.2rem 0;
  border-bottom: 7px solid $purple;
  .header_container {
    width: 80%;
    margin: 0 auto;
  }
  nav {
    float: center;
    a {
      text-decoration: none;
      color: white;
      font-size: 1.1rem;
      line-height: 1.5;
      margin-left: 1rem;
      &:hover {
        color: $turquoise;
      }
    }

  }
}

button, .button {
 background: #34d9aa;
 background-image: -webkit-linear-gradient(top, #34d9aa, #2980b9);
 background-image: -moz-linear-gradient(top, #34d9aa, #2980b9);
 background-image: -ms-linear-gradient(top, #34d9aa, #2980b9);
 background-image: -o-linear-gradient(top, #34d9aa, #2980b9);
 background-image: linear-gradient(to bottom, #34d9aa, #2980b9);
 -webkit-border-radius: 34;
 -moz-border-radius: 34;
 border-radius: 34px;
 font-family: Arial;
 color: #ffffff;
 font-size: 14px;
 padding: 5px 10px 5px 10px;
 border: solid #216894 4px;
 text-decoration: none;
}

button, .button:hover {
 background: #fcfc3c;
 background-image: -webkit-linear-gradient(top, #fcfc3c, #3498db);
 background-image: -moz-linear-gradient(top, #fcfc3c, #3498db);
 background-image: -ms-linear-gradient(top, #fcfc3c, #3498db);
 background-image: -o-linear-gradient(top, #fcfc3c, #3498db);
 background-image: linear-gradient(to bottom, #fcfc3c, #3498db);
 text-decoration: none;
}
