
#transaction_form {
  p {
    font-weight: bold;
  }
}
#title_show {
  .description {
    @include bold_font;
    font-size: 2.5rem;
    margin-bottom: 1.25rem;
    padding-bottom: 1rem;
    border-bottom: 1px solid #E9E9E9;
  }
  p {
    font-size: 1.375rem;
    line-height: 1.75;
  }
  h1 {
    font-size: 2em;
  }
}
