#category_form
  = simple_form_for(@category, html: {class: 'form-horizontal'}) do |f|
    = f.input :name, label: "Category", required: true, input_html: {class: "form-control"}
    %br/
    = f.button :submit, class: "button"
    %br/
