var new_category = $("<%= escape_javascript(render(:partial => @category))%>").hide();
$('#categories').prepend(new_category);
$("#new_category").bind("ajax:beforeSend", function(event,xhr,status){
  $('#category_content').val('');
}
$('#category_<%= @category.id %>').fadeIn('fast');
$('#new_category')[0].reset();
