#category
  #cat_index_header
    %h2 Transactions in category:
    %h1= @category.name
  #cat_index_body
    %br/
    %br/
    %table
      %thead
        %tr
          %th Transaction Description
          %th Transaction Amount
          %th Transaction Type
        %tbody
        - @category.transactions.each do |transaction|
          %tr
            %td= link_to transaction.description, transaction
            %td= transaction.amount
            %td= transaction.ttype
            %td= link_to 'Edit Transaction', edit_transaction_path(transaction)
            %td= link_to 'Delete Transaction', transaction, method: :delete, data: { confirm: 'By deleting this category, you will delete all associated transactions. If this was not your intention, click `Cancel` and choose to edit the category instead.' }


  %br/
  %br/
  = link_to 'Edit', edit_category_path(@category), class: "button"
  = link_to 'Categories', categories_path, class: "button"
  = link_to 'Transactions', transactions_path, class: "button"
  = link_to 'Create Transaction', new_transaction_path, class: "button"
