#transaction_form
  = simple_form_for(@transaction, html: {class: 'form-horizontal'}) do |f|
    = f.input :description, label: "Description", required: true, input_html: {class: "form-control"}
    = f.input :amount, label: "Amount", required: true, input_html: {class: "form-control"}
    %br/
    = f.select :ttype, options_for_select(@ttypes.collect { |s| [s[0].humanize, s[0]] },
    selected:@transaction.ttype), label: "Cost or Income: ", required: true, input_html: {class: "form-control" }
    %br/
    %br/
    %p * Category
    = f.collection_select(:category_id, Category.all, :id, :name, { :prompt => false,
      :selected => @transaction.category_id, :include_blank => false, :required => true }, { class: 'form-control' })
    %br/
    = f.button :submit, class: "button"
    %br/
    %br/
  %h3 If you don't see your desired category in the drop-down menu, please enter a new category label below:
  %br/
  #comments
    = simple_form_for([@category, Category.new], remote: false, html: {class: 'form-horizontal'}) do |f|
      = f.input :name, label: "New Category", required: true, input_html: {class: "form-control"}
      %br/
      = f.button :submit, "Save", class: "button"
    %br/
    %br/
