!!!
%html
  %head
  .wrapper_with_padding
    - [:notice]
    #div.centre
      - if (current_user.transactions.count > 0)
        %h1= "Total Income: $#{current_user.transactions.where(:ttype => 1).sum(:amount)}"
        %br/
        %br/
        %h1= "Total Spent: $#{current_user.transactions.where(:ttype => 0).sum(:amount)}"
        %br/
        %br/
        %br/
    - unless @transactions.blank?
      %table
        %thead
          %tr
            %th Description
            %th Category
            %th Amount
            %th Transaction type
        %tbody
        - @transactions.each do |transaction|
          %tr
            %td= link_to transaction.description, transaction
            %td= link_to transaction.category.name, transaction.category
            %td= transaction.amount
            %td= transaction.ttype
            %td= link_to 'Edit', edit_transaction_path(transaction)
            %td= link_to 'Delete', transaction, method: :delete, data: { confirm: 'Are you sure?' }
      %br/
    - else
      %h3 You have not entered any transactions yet.
      %br/
    %br/
    %br/
    %br/
    %link_to= link_to "New Transaction", new_transaction_path, class: "button"
