<div id="transaction_show">
  <p>
    <strong>Description:</strong>
    <%= @transaction.description %>
  </p>

  <p>
    <strong>Amount:</strong>
    <%= @transaction.amount %>
  </p>

  <p>
    <strong>Type:</strong>
    <%= @transaction.ttype %>
  </p>

  <p>
    <strong>Category:</strong>
    <%= link_to @transaction.category.name, @transaction.category %>
  </p>
  <br/>
  <%= link_to 'Edit', edit_transaction_path(@transaction), class: "button" %>
  <%= link_to 'Delete', @transaction, method: :delete, data: { confirm: 'Are you sure?' }, class: "button" %></td>
  <%= link_to 'Transactions', transactions_path, class: "button" %>
  <%= link_to 'Categories', categories_path, class: "button" %>
</div>
