!!!
%html
  %head>
    %title My Wallet
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true
    %link{:rel => "stylesheet", :href => "//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css"}/
    = javascript_include_tag 'application', 'data-turbolinks-track' => true
    = csrf_meta_tags
  %body
    %header
      %nav
        .header_container
          .navbar-header
            = link_to "My Wallet", transactions_path, class: "navbar-brand"
          .nav.navbar-nav.navbar-right
            - if user_signed_in?
              = link_to "New Transaction", new_transaction_path, class: "navbar-brand"
              = link_to "New Category", new_category_path, class: "navbar-brand"
              = link_to "All Transactions", transactions_path, class: "navbar-brand"
              = link_to "All Categories", categories_path, class: "navbar-brand"
              = link_to "Sign Out", destroy_user_session_path, method: :delete, class: "navbar-brand"
            - else
              = link_to "Log In", new_user_session_path, class: "navbar-brand"
    .container
      %p.notice= notice
      %p.alert= alert
      = yield
